.biz_dev_button {
  padding: 6px 16px;
  font-size: 12px;
  min-width: 64px;
  color: red;
}
.biz_dev_button[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}
.biz_dev_primary {
  color: #fff;
  background-color: #1976d2;
}
.biz_dev_secondary {
  color: #fff;
  background-color: #dc004e;
}
